<ion-content [fullscreen]="true" class="">
  <div class="p-4">
    <ion-button expand="block" (click)="openModal()">Open</ion-button>
    <!-- <lib-ionic-persian-datepicker [value]="form.date().value()" [showTime]="true" (valueChange)="form.date().value.set($event)"></lib-ionic-persian-datepicker> -->
    <!-- <div>{{authService.data() | json}}</div> -->

    <!-- <ion-datetime locale="fa-IR"></ion-datetime> -->
    <lib-ionic-picker [options]="options()" [value]="form.option().value()" (valueChange)="form.option().value.set($event)"></lib-ionic-picker>
    <ion-toggle [formField]="form.active">Default Toggle</ion-toggle>
    <div>{{formModel() | json}}</div>

    @for (item of [].constructor(50); track $index) {

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta minus quibusdam reprehenderit, tempore obcaecati quidem neque ex praesentium rem reiciendis magnam tenetur
      alias eaque ducimus doloremque nihil eius dolore et.
    </p>
    <br />
    }
  </div>
</ion-content>
