<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class=""> Global Header</ion-title>
  </ion-toolbar>
</ion-header>
<lib-ionic-tabs [tabs]="tabs"> </lib-ionic-tabs>
<!-- <ion-tabs>
</ion-tabs> -->

<!-- <table>
  <tbody>
    <tr>
      <td>برند:</td>
      <td>ایرانی</td>
    </tr>
    <tr>
      <td>گرید:</td>
      <td>خوراکی</td>
    </tr>
    <tr>
      <td>وزن:</td>
      <td>100 گرم، 500 گرم، 1000 گرم</td>
    </tr>
  </tbody>
</table>
<div class="custom-product-features">
  <div>
    <p>برند:</p>
    <p>ایرانی</p>
  </div>
  <div>
    <p>گرید:</p>
    <p>خوراکی</p>
  </div>
  <div>
    <p>وزن:</p>
    <p>100 گرم، 500 گرم، 1000 گرم</p>
  </div>
</div> -->


